.create-task {
    display: flex;
    flex-flow: column nowrap;
    background: #FFF;
    border-radius: 4px 4px 0 0;
    border: #E6EAEE 1px solid;
    overflow: hidden;
    height: 750px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &--body {
        padding-left: 30px;
        display: flex;
        flex-direction: column;

        &__title {
            display: flex;
            flex-direction: column;
            padding-top: 10px;

            &--inputtitle{
                border-radius: 4px;
                border: 1px solid #CCC;
                font:16px Roboto;
                margin-top: 10px;
                width: 540px;
                height: 40px;
            }

        }

        &__type {
            display: flex;

            &--LabelType {
                display: flex;
                padding-top: 10px;
                flex-direction: column;

                &__InputT1pe {
                    border: 1px solid #CCC;
                    border-radius: 4px;
                    font:16px Roboto;
                    margin-top: 10px;
                    width: 250px;
                    height: 40px;

                    float:left;
                    appearance:none;
                    -webkit-appearance:none;
                    -moz-appearance:none;
                    -ms-appearance:none;
                    background-size:12px 7.41px;
                    background: url(../../static/icons/arrowSelect.png) no-repeat 223px;
                }
            }

            &--LabelProject {
                display: flex;
                flex-direction: column;
                padding: 10px 10px 10px 40px;

                &__InputText {
                    border: 1px solid #CCC;
                    border-radius: 4px;
                    font:16px Roboto;
                    margin-top: 10px;
                    width: 250px;
                    height: 40px;

                    float:left;
                    appearance:none;
                    -webkit-appearance:none;
                    -moz-appearance:none;
                    -ms-appearance:none;
                    background-size:12px 7.41px;
                    background: url(../../static/icons/arrowSelect.png) no-repeat 223px;

                }
            }
        }

        &__executor {
            display: flex;

            &--labelexecutor {
                display: flex;
                padding-top: 10px;
                flex-direction: column;
            }

            &--inputexecutor{
                border: 1px solid #CCC;
                border-radius: 4px;
                font:16px Roboto;
                margin-top: 10px;
                width: 250px;
                height: 40px;
                overflow: hidden;
                padding: 10px;

                float:left;
                appearance:none;
                -webkit-appearance:none;
                -moz-appearance:none;
                -ms-appearance:none;
                background-size:12px 7.41px;
                background: url(../../static/icons/arrowSelect.png) no-repeat 223px;
            }

            &--labelhours{
                display: flex;
                flex-direction: column;
                padding: 10px 10px 10px 40px;
            }

            &--inputhours{
                border: 1px solid #CCC;
                border-radius: 4px;
                font:16px Roboto;
                margin-top: 10px;
                width: 250px;
                height: 40px;
            }

            &--inputhours::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }


        }
        &__type {
            &__datetime {
                flex-direction: column;

                &--totalstart {
                    display: flex;
                    flex-direction: row;
                    padding-top: 10px;

                    &--datatimestartproject {
                        background: #F5F5F5;
                        font: 12px Roboto;
                        height: 40px;
                        width: 149px;
                        border: 1px solid #CCC;
                        border-radius: 4px;
                    }

                    &--labelstartdata {
                        height: 40px;
                        width: 38px;
                    }


                    &--timestart {
                        background: #F5F5F5;
                        font: 12px Roboto;
                        height: 40px;
                        width: 93px;
                        margin-left: 8px;
                        border: 1px solid #CCC;
                        border-radius: 4px;
                    }

                    &--labeltimestart {
                        height: 40px;
                        width: 44px;
                        font:12px Roboto;
                    }
                }

                &--inputtimestartproject {
                    border-radius: 0 4px 4px 0;
                    font:16px Roboto;
                    height: 38px;
                    width: 54px;
                    border: 1px none #CCCCCC;
                    border-left-style: solid;
                }

                &--inputtimestartproject::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                }

                &--inputtimestartproject::-webkit-clear-button {
                    -webkit-appearance: none;
                }

                &--InputStartDate {
                    border-radius: 0 4px 4px 0;
                    font:16px Roboto;
                    height: 38px;
                    width: 118px;
                    border: 1px none #CCCCCC;
                    border-left-style: solid;
                }

                &--InputStartDate::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &--InputStartDate::-webkit-clear-button {
                    -webkit-appearance: none;
                }
            }

            &__datetimeend {
                flex-direction: column;
                padding-left: 40px;

                &--totalend {
                    display: flex;
                    flex-direction: row;
                    padding-top: 10px;

                    &--datatimestartproject {
                        background: #F5F5F5;
                        font: 12px Roboto;
                        height: 40px;
                        width: 149px;
                        border: 1px solid #CCC;
                        border-radius: 4px;
                    }

                    &--labelenddata {
                        height: 40px;
                        width: 38px;
                        left: 15px;

                    }

                    &--timeend {
                        font: 12px Roboto;
                        background: #F5F5F5;
                        height: 40px;
                        width: 93px;
                        margin-left: 8px;
                        border: 1px solid #CCC;
                        border-radius: 4px;
                    }

                    &--labeltimeend {
                        height: 40px;
                        width: 44px;
                    }
                }

                &--InputEndDate {
                    border-radius: 0 4px 4px 0;
                    font:16px Roboto;
                    height: 38px;
                    width: 118px;
                    border: 1px none #CCC;
                    border-left-style: solid;
                }

                &--InputEndDate::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &--InputEndDate::-webkit-clear-button {
                    -webkit-appearance: none;
                }

                &--inputtimeendproject {
                    border-radius: 0 4px 4px 0;
                    font:16px Roboto;
                    height: 38px;
                    width: 54px;
                    border: 1px none #CCC;
                    border-left-style: solid;
                }

                &--inputtimeendproject::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &--inputtimeendproject::-webkit-clear-button {
                    -webkit-appearance: none;
                }
            }
        }

        &__desc{
            font:14px Roboto;
                        width: 68px;
                        height: 17px;
            padding-top: 10px;

                        &--TextareaDesk {
                            border: 1px solid #CCC;
                            border-radius: 4px;
                            margin-top: 10px;
                            width: 540px;
                            height: 170px;
                            font: 16px Roboto;
                            resize: none;
                        }
                    }

        &__create {
            padding: 210px 198px 21px;

            &--buttonClose{
                background: #00AAFF;
                width: 124px;
                            height: 40px;
                            border: none;
                            border-radius: 20px;
                            font: 14px Roboto;
                            font-weight: 900;
                            text-align: center;
                            text-transform: uppercase;
                            color: #FFFFFF;
            }
        }
    }
}

.create-task--header {
    display: flex;
    flex-flow: column nowrap;
    background: #F5F5F5;
    border-radius: 4px 4px 0 0;
    padding: 30px 0;
    border-bottom: #E6EAEE 1px solid;
    font-weight: 300;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

