@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.btn-class {
  display: inline-block;
  border:2px solid #cccccc;
  color: #cccccc;
  border-radius: 25px 25px 25px 25px;
  font-family: 'Roboto', sans-serif;
  width: 28px;
  height: 28px;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  background-color: transparent;
  outline: none;
}

.btn-class:hover {
  color: #00AAFF;
  border: 2px solid #00AAFF;
  background-color: #FFFFFF;
}

.btn-class:disabled {
  color: #00AAFF;
  border: 2px solid #00AAFF;
  background-color: #FFFFFF;
}

.btn-class:active {
  border:2px solid #00AAFF;
  color: #FFFFFF;
  background-color: #00AAFF;
}
